<div class="department-container">
    <% @departments.each do |department| %>
        
        <div class="department <%= department.name.downcase %>">
            <h1><%= department.name %></h1>
            <%= link_to department_items_path(department), class: "link", :show => 'go' do %>
                <button class="shop-button">Shop Now</button>
            <% end %>
        </div>
        
    <% end %>
</div>
